language: generic
services:
  - docker

cache:
directories:
  - /var/lib/docker

before_install:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - docker-compose up -d
  - docker exec users-service /bin/bash -c "behave user_service/tests/integration/users_crud.feature"

install: true

after_success:
  - eval "$(~/.local/bin/aws ecr get-login)"
  - docker tag users-service:latest 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:build-$TRAVIS_BUILD_NUMBER
  - docker tag users-service:latest 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:integration-tested
  - docker push 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:build-$TRAVIS_BUILD_NUMBER
  - docker push 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:integration-tested
