language: generic
services:
  - docker

cache:
directories:
  - /var/lib/docker

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.6.2
    - DOCKER_VERSION=1.10.1-0~trusty

before_install:
  # list docker-engine versions
  - apt-cache madison docker-engine
  # upgrade docker-engine to specific version
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-engine=${DOCKER_VERSION}
  # Upgrade docker compose
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  # AWS CLI
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  # Output versions
  - docker version
  - docker-compose version

install:
  - docker-compose up -d
  - docker exec users-service /bin/bash -c "behave user_service/tests/integration/users_crud.feature"

after_success:
  - eval "$(~/.local/bin/aws ecr get-login)"
  - docker tag users-service:latest 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:build-$TRAVIS_BUILD_NUMBER
  - docker tag users-service:latest 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:integration-tested
  - docker push 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:build-$TRAVIS_BUILD_NUMBER
  - docker push 277555456074.dkr.ecr.eu-west-1.amazonaws.com/users-service:integration-tested
  # Trigger integration pipeline
  - eval "$(ssh-agent -s)" #start the ssh agent
  - echo $DEPLOY_KEY | base64 -d > .travis/deploy_key.pem
  - chmod 600 .travis/deploy_key.pem # this key should have push access
  - git clone git@github.com:Kamshak/ba-microservices-integration.git integration
  - export SERVICE_NAME=$(basename `git rev-parse --show-toplevel`)
  - cd integration
  - sed -i "/usersServiceTag/c\usersServiceTag = \"build-$TRAVIS_BUILD_NUMBER\"" test values.toml # Update version number
  - git add .
  - git commit -m "Trigger integration from $SERVICE_NAME, Travis Build $TRAVIS_JOB_NUMBER, Commit $TRAVIS_COMMIT"
  - git push
